@import "./variables";

.window {
    width: 600px;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: $backgroundColor;
    z-index: 2;
    animation-duration: 1s;
    animation-name: slide;
    text-align: center;
    
  }
  
.form, button, input, .sign {
  font-family: $highlightfont;
  color: $highlightTextColor;
  font-size: 1em;
}
  
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20%;  
  input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 0.2vmax;
    opacity: 65%;
    margin: 4%;
    color: rgb(56, 55, 52);
    line-height: 0px;
    outline: none !important;
    &:focus {
        animation-duration: 0.05s;
        animation-name: content-flicker;
        animation-direction:reverse;
        animation-iteration-count: calc(50);
    }
  }
  button {
    border-radius:1vmin;
    padding: 5%;
    margin: 4%;
    border-color: wheat;
    background-color: #242423;
    width: 100%;
    &:hover {
        animation-duration: 0.05s;
        animation-name: content-flicker, distortion-flicker;
        animation-direction:reverse;
        animation-iteration-count: infinite;
    }
  }  
}
 
.sign {
  text-align: center;
  margin-top: 2%;
  a {
      text-decoration: none;
      color: wheat;
      &:hover {
          animation-duration: 0.05s;
          animation-name: flicker;
          animation-direction:reverse;
          animation-iteration-count: infinite;
    }
  }
  p {
      margin: auto;
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  opacity: 50%;
}
